*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width:80%;
    margin: 0 auto;
}

header{
    height:60px;
}

.header-left{
    width:50%;
    height:100%;
}

.header-right{
    width:50%;
    height:100%;
    padding-left: 230px;
}

.header-content{
    width:100%;
    height:100%;
    padding:20px;
}


header li{
    vertical-align: middle;
    padding-top: 3px;
}

ul{
    list-style: none;
}

.header-content img{
    vertical-align: middle;
}

/*classe utility*/
.mr{
    margin-right: 40px;
}

.fl{
    float:left;
}

.fr{
    float: right;
}

.button-blue{
    color: white;
    background-color: #4169E1;
    padding: 5px 15px;
    font-size: 13px;
}

 .row::after{
    display: table;
    content:"";
    clear: both;
} 

.row{
    margin-top: 20px;
}

.grey{
    color:grey;
}

.font-ridotto{
    font-size: 17px;
}

/*fine classe utility*/

.jumbotron{
    background-color: #B0E0E6;
    padding-top: 99px;
}

.jumbotron-content{
    height:100%;
}

.jumbotron h1{
    font-size: 67px;
}



.jumbo-text{
    width:400px;
    margin-right: 100px;
}

.jumbo-text .paragrafo-principale-jumbo{
    margin-bottom: 30px;
    margin-top: 50px;
}

.img-container{
    width:900px;
    height:600px;
    padding-top: 50px;
    position: relative;
    top: 200px;
}

.img-container img{
    width:100%;
    height:100%;
}

.text-annulla{
    margin-top: 20px;
}

.freccia{
    font-size: 30px;
    font-weight: bold;
}

.sezione-abbonamenti{
    width:60%;
    margin: 0 auto;
    margin-top: 310px;
}

.fatturazione-mensile{
    margin-top: 40px;
    display: inline-block;
}

.fatturazione-annuale{
    display: inline-block;
    margin-left: 15px;
}


.fatturazione-mensile div:nth-child(1){
    height:15px;
    width:15px;
    border-radius: 50%;
    display: inline-block;
    border:4px blue solid;
}

.fatturazione-annuale div:nth-child(1){
    height:14px;
    width:14px;
    border-radius: 50%;
    display: inline-block;
    border:1px grey solid;
}

.professional{
    width:calc((100% / 3) - 32px);
    border: 1px lightgrey solid;
    height:900px;
}

.head-sezione{
    height: 40px;
    border-bottom: 1px lightgrey solid;
    text-align: center;
    line-height: 40px;
}

.standard{
    width:calc((100% / 3) - 32px);
    margin: 0 48px;
    height:900px;
}


.content{
    width:100%;
    height:100%;
    border:1px lightgrey solid;
}


.advanced{
    width:calc((100% / 3) - 32px);
    border: 1px lightgrey solid;
    height:900px;
}


.text-head{
    vertical-align: middle;
}


.content-section{
    margin-top: 20px;
}

.price{
    margin-top: 10px;
    font-weight: bold;
}

.text-comment{
    margin-top: 5px;
}


.first-line-section{
    margin-top: 40px;
}

.second-line-section{
    margin-top: 20px;
}

.third-line-section{
    margin-top: 20px;
}

.bug-third-line{
    display: inline-block;
    position: relative;
    bottom: 22px;
    left: 21px;
}

.button-section{
    margin-top: 40px;
}

.last-text-section{
    margin-top: 25px;
}

.hr-section{
    width:40px;
    border-bottom: 1px lightgrey solid;
    margin-top: 25px;
}

 h5{
    margin-top: 30px;
}

.list-section li::before{
    content:"	\2713";
    color:blue;
    font-weight: bold;
}

.list-section{
    margin-left: 10px;
}

.list-section li{
    margin-top: 15px;
}

.enterprise{
    width:60%;
    height:220px;
    margin:50px auto;
    border:1px lightgrey solid;
}

.head-enterprise{
    height: 40px;
    border-bottom: 1px lightgrey solid;
    text-align: center;
    line-height: 40px;
}

.enterprise-content{
    margin:25px;
}

.enterprise-left{
    width:70%;
}

.enterprise-right{
    width:30%;
}

.text-enterprise{
    margin-top: 15px;
}

.enterprise p{
    margin-top: 15px;
}

.partner{
    width: 60%;
    height:500px;
    margin:0 auto;
    margin-top: 80px;
}

.partner img{
    width:100%;
}

.partner-left{
    width:50%;
}

.partner-right{
    width:50%;
}

.partner-container{
    margin-top:40px;
    margin-left: 40px;
}

.partner-container p{
    margin-top: 30px;
    margin-bottom:30px
}

.partner-riquadro{
    border: 1px black solid;
    padding: 10px;
}

.business-container{
    margin-top: 80px;
    width:60%;
    margin:0 auto;
}


.item{
    width:calc((100% / 3) - 30px);
    height:100%;
}

.img-business{
    height:200px;
    width:100%;
}

.item img{
    width:100%;
    height:100%;
}

.center{
    margin: 0 45px;
}

.item p{
    margin-top: 25px;
}

.row-2{
    margin-top: 80px;
}

.text-cinquecento{
    width:60%;
    margin: 100px auto;
    font-size: 25px;
    font-weight: bold;
    
}

a{
    display: block;
    font-size: 12px;
    margin-top: 25px;
}

.sezione-loghi{
    height:400px;
}

.sezione-sx{
    width:30%;
    height:100%;
}

.sezione-centrale{
    width:40%;
    height:100%;
    padding: 40px;
}

.sezione-dx{
    width:30%;
    height:100%;
}

.block{
    width:50%;
    height:100%;
    position: relative;
}

.up-row{
    height:50%;
    width:100%;
}

.down-row{
    height:50%;
    width:100%;

}

.first-block {
    background-color: #90EE90;
}

.second-block{
    background-color: #800000;
}

.img-pannels{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(100%);
}

.third-block{
    background-color: #1E90FF;
}

.fourth-block{
    background-color: #FF0000;
}

.sezione-centrale{
    background-color: #ccc;
}

.fifth-block{
    background-color: #DC143C;
}

.sixth-block{
    background-color: #ADD8E6;
}

.seventh-block{
    background-color: #191970;
}

.eight-block{
    background-color: yellow;
}

.content-sezione-centrale{
    height:100%;
    width:100%;
}

.hr-section-2{
    width:40px;
    border-top: 1px grey solid;
}

.sezione-centrale p{
    margin:20px 0;
}

.business-prova{
    background-color:  #ADD8E6;
    height:250px;
    padding: 70px 280px;
}

.business-prova-container{
    width: 100%;
    height: 100%;
}

.business-prova span:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #800000;
}

.business-prova span:nth-child(2){
    background-color: white;
    color: black;
    padding: 5px 40px;

}

.domande-frequenti{
    padding: 70px 280px;
}

.content-domande{
    margin-top: 35px;
}

.row-domande div{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
}

.row-domande span{
    font-weight: bold;
    position: relative;
    left: 300px;
}

.row-domande-1{
    margin-top: 30px;
}


.row-domande-1 div{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
}

.row-domande-1 span{
    font-weight: bold;
    position: relative;
    left: 300px;
}

.last-hr{
    margin-top: 30px;
    width: 100%;
}

footer{
    height:500px;
    margin-top: 30px;
    background-color: black;
    padding: 100px 180px;
    color: white;
}

.footer-container{
    height:100%;
    width:100%;
}

.col{
    margin-right: 90px;
}

footer ul{
    list-style: none;
    margin-top: 20px;
    font-size: 13px;
}

footer li{
    margin-top: 10px;
}

.hr-footer{
    border-top: white 1px solid;
    width:100px
}

.earth{
    margin-top: 15px;
    display: inline-block;
}

.triangolo{
    font-size: 7px;
    position: relative;
    bottom: 2px;
}

.text-italiano{
    font-size: 11px;
}





